<launch>

    <node name="pos_x_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/drone_gt/x /drone_estimate/x /drone_estimate_filtered/x"/>

    <node name="pos_y_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/drone_gt/y /drone_estimate/y /drone_estimate_filtered/y"/>

    <node name="pos_z_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/drone_gt/z /drone_estimate/z /drone_estimate_filtered/z"/>

</launch>