<launch>

    <node name="pos_x_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/drone_pose/linear/x /estimate/ellipse/linear/x /estimate/arrow/linear/x /estimate/corners/linear/x"/>

    <node name="pos_y_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/drone_pose/linear/y /estimate/ellipse/linear/y /estimate/arrow/linear/y /estimate/corners/linear/y"/>

    <node name="pos_z_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/drone_pose/linear/z /estimate/ellipse/linear/z /estimate/arrow/linear/z /estimate/corners/linear/z"/>

    <node name="pos_yaw_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/drone_pose/angular/z /estimate/ellipse/angular/z /estimate/arrow/angular/z /estimate/corners/angular/z"/>

</launch>