<launch>

    <node name="pos_x_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/drone_error_integral/linear/x" />

    <node name="pos_y_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/drone_pose/linear/x /drone_reference/linear/x" />

    <node name="pos_z_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/cmd_vel/linear/x" />

</launch>